body{ background-image: url("/image/ffff.jpeg"); background-size: cover;
   background-repeat: no-repeat; 
   margin: 0;
  height: 100vh;
  
}
.title {
  display: flex;
  justify-content: center;
  font-size: 200%;
}

.social-media {
  display: flex;
  justify-content: space-around;
  font-size: 200%; 

}

.social-media2 {
  display: flex;
  justify-content: space-around;
  font-size: 200%; 
}

.social-link {
  display: flex;
  align-items: center;
  margin: 2%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 40px;
  
}

.social-link .icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat; 
}

.instagram .icon {
  background-image: url('./image/ig.png');
}

.twitter .icon {
  background-image: url('./image/ca0622c94dae228e264f9dc16a5d0a60.png');
}

.facebook .icon {
  background-image: url('./image/d70bffcccde6ee5d1237dd7ba36e539e.png');
}

.github .icon {
  background-image: url('./image/caa674cb04f457343c41ee469620bf05.png');
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 150%;
  }

  .social-media, .social-media2 {
    flex-direction: column;
    align-items: center;
  }

  .social-link {
    font-size: 30px;
    margin: 10px 0;
  }

  .social-link .icon {
    width: 80px;
    height: 80px;
  }
}
