body{ background-image: url("/image/ffff.jpeg");
  background-size: cover; 
  background-repeat: no-repeat; 
  margin: 0;
  height: 100vh;
  
}
.Contacts{
   left: 60%; 
   top: 51%; 
   position: absolute;  
   color: black;
    font-size: 40px;   
    margin-left: 200px;
}
.AboutMe{
   left: 35%; 
   top: 51%; 
   position: absolute;  
   color: black; 
   font-size: 40px;  
    margin-left: 180px;
}
.Projects{
   left: 10%;
    top: 51%; 
   position: absolute;  
   color: black;
   font-size: 40px;  
   margin-left: 140px;
}

.Contacts a, .AboutMe a, .Projects a {
  text-decoration: none !important;
  color: inherit; 
}
