body{ background-image: url("/image/ffff.jpeg"); background-size: cover; background-repeat: no-repeat; margin: 0;
  height: 100vh;
  
}ckground-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.center {
  display: flex;
  justify-content: center; 
  justify-content: space-around;
}

.titre {
  display: flex;
  justify-content: center;
}

.Projet {
  font-size: 50px;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
}

.image1 {
  display: flex;
  height: 100px;
}

.footer {
  display: flex;
  justify-content: end;
  justify-content:last baseline;
  margin-right: 20px;
}

.textc {
  color: white;
  margin-top: 150px;
  
}
